*{
	margin: 0;
	padding: 0;
}
nav ul{
	list-style: none;
	
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 10vh;
	display: grid;
	
}
nav ul li{
	text-align: center;
}
nav ul li a{
	line-height: 100px;
	text-decoration: none;
	background-color: lightblue;
	color: black;	
	font-weight: 600;
	font-size: 2em;
}
nav ul li a:hover{
	background-color: cornflowerblue;
}
.aktiv{
	font-size: 4em;
}
ul li a{
	display: block;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	color: black;
}
ul li :hover{
	background-color: rgb(98, 96, 236);
}
ul li{
	list-style-type: none;

}
main ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: cornflowerblue;
	grid-area: ul;
}
main p{
	background-image: linear-gradient(to bottom right, rgb(142, 159, 255), rgb(156, 156, 156));
	margin: 50px;
	padding: 50px;
	border: 2px solid black;
	border-radius: 50px;
}
main img{
	height: 500px;
	width: 500px;
}
main form{
	padding: 50px;
}
#TreSpalt{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: 
	"ul ul ul"
	"main main main";
}
#TvåSpalt{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: 
	"ul ul"
	"main main";
}
#TvåSpalter{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"main main";
}
table, th, td{
	margin: 50px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
tr:nth-child(odd){
	background-color: silver;
}
footer{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	display: grid;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 5vh;
	bottom: 0;
	background-color: cornflowerblue;
	font-weight: 600;
}
footer > a{
	text-decoration: none;
	color: black;
	
}
footer a:hover{
	color:rgb(98, 96, 236);
}
footer a:active{
	color: red;
}
footer a:focus{
	color: blue;
}
footer a:visited{
	color: white;
}